.gameHome {
  max-height: 250px;
  width: auto;
}

.gameHomeText {
  text-align: center;
}

.playButton {
  margin-left: 43%;
}

#profilePic {
  max-height: 250px;
  width: auto;
}

.color-btn {
  width: 100%;
  line-height: 20em;
}

.col-md-6 {
  padding: 0;
}

/*.row {
  height: 500px;
}*/
