<h1>Watch Carefully!</h1>
<button type="button" name="red"  class="btn" id="red">Red</button>
<button type="button" name="green"  class="btn" id="green">Green</button>
<button type="button" name="blue" class="btn btn-info" id="blue">Blue</button>
<button type="button" name="yellow"  class="btn" id="yellow">Yellow</button>
<meta http-equiv="refresh" content="1;url=/replay" />
