<h2>Game Over!</h2>
<h4>Your Final Score:</h4>
<p>$currentScore</p>
#if ($congrats)
$congrats
#end
<h4>High Score:</h4>
<p>$highScore</p>
<a href="/simonSays"><button class="btn btn-danger">Play Again</button></a>
