<h1>test</h1>
<button type="button" name="red" id="red"></button>
<button type="button" name="green" id="green">Green</button>
<button type="button" name="blue" id="blue"></button>
<button type="button" name="yellow" id="yellow"></button>
<meta http-equiv="refresh" content="1;url=/replay" />
